:root {
    --barItemColor: #d9cf75;
}

div.graph-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
}

div.graph-container div.graph {
    background-color: var(--selectedBgColor);
    padding: 1rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    
    justify-content: space-evenly;

    background-image: 
        linear-gradient(to right, var(--lineColor) 1px, transparent 1px),
        linear-gradient(to bottom, var(--lineColor) 1px, transparent 1px);
    background-size: 1rem 1rem;
    background-blend-mode: screen;
    
    border-radius: 5px;
}

div.graph-container div.graph div.graph-item {
    width: 2rem;
    background-color: var(--barItemColor);
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

div.graph-container div.graph div.graph-item::before {
    content: attr(data-value);
    text-align: center;
    color: var(--textColor);
    display: block;
    margin-top: 0.5rem;
    
    user-select: none;
}

div.graph-container span.graph-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    padding: 1rem;
    padding-top: 0;

    align-items: center;
}

svg.wave {
    background-color: var(--selectedBgColor);
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    
    justify-content: space-evenly;

    background-image: 
        linear-gradient(to right, var(--lineColor) 1px, transparent 1px),
        linear-gradient(to bottom, var(--lineColor) 1px, transparent 1px);
    background-size: 1rem 1rem;
    background-blend-mode: screen;
    
    border-radius: 5px;

    width: 10rem;
    height: 10rem;
}

div.graph-container span.graph-labels p.graph-label {
    text-align: center;
    margin-top: 0.5rem;
}

div.tab-wrapper div.tab-contents div.inactive-content {
    display: none;
}

div.tab-wrapper div.tab-contents div:not(.inactive-content) {
    display: block;
}

div.tab-wrapper div.tab-contents {
    background-color: var(--selectedBgColor);
    padding: 1rem;
}

div.tab-wrapper span.tab-headers {
    background-color: var(--chosenBgColor);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border-bottom: solid var(--borderColor);
}

div.tab-wrapper {
    border-radius: 15px;
    overflow: hidden;
}

div.tab-wrapper span.tab-headers button {
    background-color: var(--bgColor);
    padding: 0.5rem;
    border-color: var(--borderColor);
    border-style: solid;
    border-radius: 5px;
}

div.tab-wrapper span.tab-headers button:hover {
    background-color: var(--selectedBgColor);
}

div.tab-wrapper span.tab-headers button.active-btn {
    background-color: var(--selectedBgColor);
    font-weight: bold;
}

span.spoiler-text {
    padding: 0.1rem;
}

span.spoiler-text.spoilered {
    cursor: pointer;
    user-select: none;
    background-color: var(--textColor);
}

span.spoiler-text:not(.spoilered) {
    cursor: initial;
    user-select: initial;
    background-color: transparent;
}