:root {
    --bgColor: white;
    --textColor: black;
    --borderColor: #323232;
    --selectedBgColor: #eaeaea;
    --chosenBgColor: #dcdcdc;
    --lineColor: #ccc;
}

* {
    color: var(--textColor);
}

#sidebar {
    position: fixed;

    background-color: var(--bgColor);
    border-right: solid var(--borderColor);

    width: 200px;
    height: 100%;

    margin: 0;

    padding: 15px;

    display: flex;
    flex-direction: column;

    z-index: 9999;

    overflow: auto;
}

#sidebar .title {
    color: var(--textColor)
}

#sidebar a:not(.gh-icon) {
    color: var(--textColor);
    text-decoration: none;
    height: auto;
    border-bottom: 1px solid var(--lineColor);

    padding: 4px;
    
    border-radius: 5px;

    margin-top: 7.5px;
}

#sidebar .sidebar-label {
    color: var(--textColor);
    height: auto;
    border-bottom: 1px solid var(--lineColor);
    font-weight: bolder;
    padding: 6px;
}

#sidebar .icons-container {
    margin: 10px;
    width: 1.75rem;
    height: 1rem;
}

#sidebar .icons-container a svg {
    opacity: 25%;
}

#sidebar .button-container {
    margin: 10px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#sidebar .button-container button {
    background-color: var(--bgColor);
    border-style: solid;
    border-color: var(--selectedBgColor);
    border-radius: 7.5px;
}

#sidebar a:hover {
    background-color: var(--selectedBgColor);
}

#sidebar .selected {
    background-color: var(--chosenBgColor) !important;
}

#sidebar .selected::after {
    content: ' <';
}

@media only screen and (max-width: 600px) {
    #sidebar {
        width: 110px;
    }
}